:root {
    --article-text-color: #000;
}

#article-cp {
    line-height: 2;
    color: var(--article-text-color);
    padding: 1em;
    width: calc(100% - 2em);
    max-width: 60em;
    margin: 0 auto;
}

#article-cp p {
    margin: 0;
}

#article-cp h2 {
    margin-top: 5rem;
    margin-bottom: 1.5rem;
}

#article-cp ul {
    padding-inline-start: 20px;
}

#article-cp img {
    border-radius: 0.5em;
    width: 100%;
}

#article-cp a {
    color: var(--theme);
}

#article-cp a:visited {
    color: var(--theme-visited);
}

#article-titles>p {
    font-weight: 600;
    color: #2f2f2f;
}

#article-titles>h1 {
    font-weight: 700;
    line-height: 1.25;
    padding: 0.5rem 0;
}

#article-date {
    padding-bottom: 2rem;
}

@media (max-width: 600px){
    h1 {
        font-size: 1.5rem;
    }
}

#article-tags {
    margin-top: 3rem;
}

#article-tags>h2 {
    margin: 0;
}

#article-tags>div {
    margin-top: 5rem;
    gap: 0.5rem;
}

#article-tags>div>img {
    filter: brightness(0);
    width: 1.5em;
}

header {
    color: var(--article-text-color);
    background: #ffffff11;
}

#header-title span,
#header-title h1,
header>div>nav>ul>li>a {
    color: var(--article-text-color);
}

#footer-site-links {
    border-top: #efefef 0.0625rem solid;
}

.hamburger svg {
    fill: var(--article-text-color);
}

.hm-open #header-title span,
.hm-open #header-title h1,
.hm-open>nav>ul>li>a {
    color: var(--text);
}

.hm-open svg {
    fill: var(--text);
}