.cleantext {
    line-height: 2;
    color: var(--text-reverse);
}

.cleantext h2 {
    margin-top: 3em;
    margin-bottom: 1em;
    font-weight: 700;
}

.cleantext h3 {
    margin-top: 3em;
    margin-bottom: 1em;
    font-weight: 700;
}

.cleantext h4 {
    margin: 0.5em 0;
    font-weight: 700;
}

.cleantext p {
    font-weight: 400;
}

.cleantext ul {
    padding-inline-start: 20px;
}

.cleantext ol {
    padding-inline-start: 20px;
}

.cleantext a {
    color: var(--theme);
}

.cleantext a:visited {
    color: var(--theme-visited);
}

.cleantext table tbody tr th,
.cleantext table tbody tr td {
    text-align: start;
    padding-right: 0.5em;
}