/* 簡略化用 */

.default-width {
    width: calc(100% - 2em);
    max-width: 80em;
    margin: 0 auto;
    padding: 0 1em;
}

.text-1rem {
    font-size: 1rem;
}

.text-2rem {
    font-size: 2rem;
}

.text-3rem {
    font-size: 3rem;
}

.text-4rem {
    font-size: 4rem;
}

.text-1-5rem {
    font-size: 1.5rem;
}

.font-500 {
    font-weight: 500;
}

.font-700 {
    font-weight: 700;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.text-align-end {
    text-align: end;
}

.w-full {
    width: 100%;
}

.w-half {
    width: 50%;
}

.gap-1em {
    gap: 1em;
}

.top-section-title {
    padding: 1em 0;
}

.dark-theme .d-brightness0-8 {
    filter: brightness(0.8);
}

@media (prefers-color-scheme: dark) {
    .system-theme .d-brightness0-8 {
        filter: brightness(0.8);
    }
}

.dark-theme .d-invert {
    filter: invert(1);
}

@media (prefers-color-scheme: dark) {
    .system-theme .d-invert {
        filter: invert(1);
    }
}

/* 簡略化用ここまで */

* {
    margin: 0;
    padding: 0;
}

html.light-theme {
    --text: #FFF;
    --n-text: #ffffff;
    --thin-border-color: #E4E4E4;
    --theme: #0D71D6;
    --theme-visited: #00458a;
    --alert-color: #e33a3a;
    --text-reverse: #000;
    --bg-color: #f4f4f4;
    --header-bg: #00000011;
    --footer-site-links-bg: #ffffff;
    --fsl-text-color: #575757;
    --fsl-text-color-hover: #a8a8a8;
    --fsnsl-bg-color: #F8F8F8;
    --fsnsb-bg-color: #F2F2F2;
    --fsnsb-border-color: #E2E2E2;
    --w-btn-hover: #f6f6f6;
    --news-bg: rgba(0, 0, 0, 0.2);
    --news-bg-hover: rgba(0, 0, 0, 0.4);
    --important-news-bg: rgba(255, 0, 0, 0.41);
    --important-news-bg-hover: rgba(255, 0, 0, 0.6);
    --form-border: #dcdcdc;
    --ctrl-hover: #ffffff61;
    --news-page-news-bg: #4a4a4a;
    --dot-active: #D6C000;
    --menu-bg: rgba(0, 0, 0, 0.7);
}

html.dark-theme {
    --text: #ffffffeb;
    --n-text: #000000;
    --thin-border-color: #323232;
    --theme: #abd5ff;
    --theme-visited: #2a95ff;
    --alert-color: #b40000;
    --text-reverse: #ffffff;
    --bg-color: #1a1a1a;
    --header-bg: #ffffff11;
    --footer-site-links-bg: #2b2b2b;
    --fsl-text-color: #cdcdcd;
    --fsl-text-color-hover: #787878;
    --fsnsl-bg-color: #1f1f1f;
    --fsnsb-bg-color: #2b2b2b;
    --fsnsb-border-color: #323232;
    --w-btn-hover: #b1b1b1;
    --news-bg: rgba(0, 0, 0, 0.3);
    --news-bg-hover: rgba(0, 0, 0, 0.5);
    --important-news-bg: rgba(185, 0, 0, 0.2);
    --important-news-bg-hover: rgba(185, 0, 0, 0.4);
    --form-border: #323232;
    --ctrl-hover: #00000061;
    --news-page-news-bg: #4a4a4a;
    --dot-active: #D6C000;
    --menu-bg: rgba(0, 0, 0, 0.7);
}

@media (prefers-color-scheme: light) {
    html.system-theme {
        --text: #FFF;
        --n-text: #ffffff;
        --thin-border-color: #E4E4E4;
        --theme: #0D71D6;
        --theme-visited: #00458a;
        --alert-color: #e33a3a;
        --text-reverse: #000;
        --bg-color: #f4f4f4;
        --header-bg: #00000011;
        --footer-site-links-bg: #ffffff;
        --fsl-text-color: #575757;
        --fsl-text-color-hover: #a8a8a8;
        --fsnsl-bg-color: #F8F8F8;
        --fsnsb-bg-color: #F2F2F2;
        --fsnsb-border-color: #E2E2E2;
        --w-btn-hover: #f6f6f6;
        --news-bg: rgba(0, 0, 0, 0.2);
        --news-bg-hover: rgba(0, 0, 0, 0.4);
        --important-news-bg: rgba(255, 0, 0, 0.41);
        --important-news-bg-hover: rgba(255, 0, 0, 0.6);
        --form-border: #dcdcdc;
        --ctrl-hover: #ffffff61;
        --news-page-news-bg: #4a4a4a;
        --dot-active: #D6C000;
        --menu-bg: rgba(0, 0, 0, 0.7);
    }
}

@media (prefers-color-scheme: dark) {
    html.system-theme {
        --text: #ffffffeb;
        --n-text: #000000;
        --thin-border-color: #323232;
        --theme: #abd5ff;
        --theme-visited: #69b4ff;
        --alert-color: #b40000;
        --text-reverse: #ffffff;
        --bg-color: #1a1a1a;
        --header-bg: #ffffff11;
        --footer-site-links-bg: #2b2b2b;
        --fsl-text-color: #cdcdcd;
        --fsl-text-color-hover: #787878;
        --fsnsl-bg-color: #1f1f1f;
        --fsnsb-bg-color: #2b2b2b;
        --fsnsb-border-color: #323232;
        --w-btn-hover: #b1b1b1;
        --news-bg: rgba(0, 0, 0, 0.3);
        --news-bg-hover: rgba(0, 0, 0, 0.5);
        --important-news-bg: rgba(185, 0, 0, 0.2);
        --important-news-bg-hover: rgba(185, 0, 0, 0.4);
        --form-border: #323232;
        --ctrl-hover: #00000061;
        --news-page-news-bg: #4a4a4a;
        --dot-active: #D6C000;
        --menu-bg: rgba(0, 0, 0, 0.7);
    }
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bg-color);
    color: var(--text);
}

header {
    color: var(--text);
    padding: 1em;
    z-index: 1000;
    position: sticky;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: var(--header-bg);
}

#header-titles {
    display: flex;
    gap: 1em;
    align-items: center;
    text-decoration: none;
    color: var(--text);
}

@media (max-width: 274px) {
    #header-titles {
        flex-direction: column;
        gap: 0.5em;
        align-items: flex-start;
    }
}

#header-titles>img {
    aspect-ratio: 1 / 1;
    width: 3em;
    height: 3em;
}

#header-titles:hover {
    opacity: .64;
}

#header-title {
    height: fit-content;
    width: 100%;
}

header>div {
    display: flex;
    justify-content: space-between;
    max-width: 80em;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 0.5em;
}

header>div>nav {
    display: flex;
    align-items: center;
}

header>div>nav>ul {
    display: flex;
    gap: 2em;
    list-style: none;
}

header>div>nav>ul>li>a {
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
    color: var(--text);
}

header>div>nav>ul>li>a:hover {
    opacity: 0.64;
}

main {
    min-height: calc(100vh - 301px);
    padding: 2em 0;
}

footer {
    position: relative;
    z-index: 500;
}

#footer-site-links {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: var(--footer-site-links-bg);
    align-items: center;
}

#footer-site-links>div {
    display: flex;
    justify-content: flex-start;
    gap: 2em;
}

@media (max-width: 569px) {

    #footer-site-links>div,
    #footer-site-links>div>ul {
        flex-direction: column;
    }
}

#footer-site-links>div>span {
    color: var(--text-reverse);
}

#footer-site-links>div>ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

#footer-site-links>div>ul>li>a {
    text-decoration: none;
    color: var(--fsl-text-color);
    font-size: 0.75em;
}

#footer-site-links>div>ul>li>a:hover {
    color: var(--fsl-text-color-hover);
}

@media (max-width: 719px) {
    #footer-site-links {
        flex-direction: column;
        gap: 1em;
        align-items: flex-start;
    }

    #footer-site-links>#theme-toggle-par {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        flex-direction: row;
    }
}

#footer-sns-links {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: var(--fsnsl-bg-color);
}

#footer-sns-buttons {
    display: flex;
    gap: 1em;
    align-items: center;
}

.footer-sns-button {
    aspect-ratio: 1 / 1;
    background: var(--fsnsb-bg-color);
    border: var(--fsnsb-border-color) 0.0625rem solid;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
    height: min-content;
}

.footer-sns-button>img {
    width: 1.5em;
    height: 1.5em;
}

@media screen and (max-width: 569px){
    .footer-sns-button {
        padding: 0.75em;
        border-radius: 0.75em;
    }

    .footer-sns-links {
        padding: 0.5em 1em;
    }

    .footer-sns-button>img {
        width: 1em;
        height: 1em;
    }
}

#footer-share-button {
    display: flex;
    gap: 1em;
    align-items: center;
}

#footer-share-button>a {
    background: var(--fsnsb-bg-color);
    border: var(--fsnsb-border-color) 0.0625rem solid;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text-reverse);
    gap: 1em;
}

.light-theme #footer-share-button>a>img {
    filter: brightness(0);
}

@media (prefers-color-scheme: light) {
    .system-theme #footer-share-button>a>img {
        filter: brightness(0);
    }
}

@media screen and (max-width: 569px){
    #footer-share-button>a {
        padding: 0.75em;
        border-radius: 0.75em;
        gap: 0.75em;
    }

    #footer-share-button>a>img {
        width: 1rem;
        height: 1rem;
    }
}

#top-par {
    position: relative;
    height: fit-content;
}

#top-main-contents {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#bg-main-contents {
    z-index: 3;
    height: fit-content;
}

#bg-follow-contents {
    z-index: 2;
    height: 100%;
}

#bg-fixed-contents {
    z-index: 1;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

#bg-fixed-contents>img {
    max-width: 80%;
}

#bg-follow-contents>img {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

#top-flex {
    display: flex;
}

#top-flex-left {
    width: 27rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#top-flex-left>img {
    width: 5rem;
    height: 5rem;
}

@media (max-width: 639px) {
    #top-flex-left>h2 {
        font-size: 2rem;
    }

    #top-flex-left>div>h1 {
        font-size: 3rem;
    }
}

#top-flex-left>div {
    align-items: center;
}

#top-tpo-context {
    text-align: end;
    font-weight: 600;
}

@media (max-width: 379px) {
    #top-flex-left>div {
        flex-direction: column;
        gap: 1em;
        align-items: flex-start;
    }

    #top-tpo-context {
        text-align: start;
    }
}

#top-btn {
    width: calc(100% - 4em);
    text-align: center;
    padding: 1em 2em;
    color: #0D71D6;
    background: var(--text);
    border-radius: 1em;
    text-decoration: none;
    font-weight: 600;
}

#top-btn:hover {
    background: var(--w-btn-hover);
}

#top-flex-right {
    width: calc(100% - 27em);
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

@media (max-width: 639px) {
    #top-flex {
        flex-direction: column-reverse;
    }

    #top-flex-left {
        width: 100%;
    }

    #top-flex-right {
        width: 100%;
    }

    #top-flex-right>div {
        display: flex;
        gap: 1em;
        align-items: center;
    }
}

#important-news>div {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.news {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--news-bg);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 1.5em 1em;
    text-decoration: none;
    color: var(--text);
    border-radius: 1em;
}

.news>div {
    flex-wrap: wrap;
    align-items: center;
}

.news>div {
    gap: 2rem;
}

@media (max-width: 639px) {
    .news>div {
        flex-direction: column;
        gap: 1em;
        align-items: flex-start;
    }
}

.news>img {
    display: none;
}

.important-news {
    background: var(--important-news-bg);
}

.important-news>img {
    display: block;
}

.news>div>div {
    gap: 1rem;
}

.topics-tip {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    background: var(--news-bg);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.dark-theme .topics-tip {
    background: rgba(133, 146, 216, 0.2);
}

@media (prefers-color-scheme: dark) {
    .system-theme .topics-tip {
        background: rgba(133, 146, 216, 0.2);
    }
}

.important-news>div>div>.topics-tip {
    background: var(--important-news-bg);
}

.news>div>div {
    font-weight: 500;
}

a.news:hover {
    background: var(--news-bg-hover);
    transition: background 0.25s;
}

a.important-news:hover {
    background: var(--important-news-bg-hover);
    transition: background 0.25s;
}

#news-page .news .topics-tip {
    color: var(--text);
}

#news-page .important-news .topics-tip {
    background: var(--text);
    color: var(--alert-color);
}

#important-news .news {
    display: none;
}

#important-news .important-news {
    display: flex;
}

#news .news {
    display: flex;
}

#news .important-news {
    display: none;
}

.slider-buttons {
    display: flex;
    justify-content: space-around;
}

.top-section-title h2 {
    font-size: 2.25rem;
    font-weight: 700;
    width: fit-content;
    margin: 0 auto;
}

#news>div {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#map {
    background: url(/images/ss_gmap.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    aspect-ratio: 2696 / 1130;
}

#map>p {
    display: flex;
    text-align: center;
    align-items: center;
    color: var(--text-reverse);
    font-size: 2em;
    font-weight: 500;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
}

.dark-theme #map>p {
    backdrop-filter: blur(10px) brightness(0.5);
    -webkit-backdrop-filter: blur(10px) brightness(0.5);
}

@media (prefers-color-scheme: dark) {
    .system-theme #map>p {
        backdrop-filter: blur(10px) brightness(0.5);
        -webkit-backdrop-filter: blur(10px) brightness(0.5);
    }
}

#contact>form>div>input,
#contact>form>div>textarea {
    width: calc(100% - 2.125em);
    padding: 1em;
    border: var(--form-border) 0.0625rem solid;
    border-radius: 0.5em;
    max-width: calc(100% - 2.125em);
    min-width: calc(100% - 2.125em);
    background: var(--bg-color);
    color: var(--text-reverse);
}

#contact>form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#contact>form>div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#contact>form>button[type="submit"] {
    padding: 1em 2em;
    background: var(--theme);
    color: var(--n-text);
    border: none;
    border-radius: 0.5em;
    width: fit-content;
    margin: 0 auto;
}

#news-page>div {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#news-page>div>a.news {
    background: var(--news-page-news-bg);
}

#news-page>div>a.important-news {
    background: var(--alert-color);
}

/* スライダー */

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 33.3333%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.control {
    background: transparent;
    color: var(--text);
    border: var(--text) 0.0625rem solid;
    padding: 0.5em;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    aspect-ratio: 1 / 1;
}

.control img {
    width: 2.25rem;
    height: 2.25rem;
}

@media screen and (max-width: 600px){
    .control img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.control:hover {
    background-color: var(--ctrl-hover);
}

.navigation {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.swiper-pause-par {
    width: 126px;
    display: flex;
    justify-content: flex-start;
}

.swiper-slide {
    border-radius: 1rem;
    overflow: hidden;
    background-color: transparent;
}

.swiper-slide>a {
    width: inherit;
    height: inherit;
    background: transparent;
}

@media (width < 985px) {
    #slider {
        width: calc(100% - 2rem);
        margin: 0 auto;
    }
}

.none {
    display: none;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

/* はんばーがー */

.hamburger {
    display: none;
    cursor: pointer;
    z-index: 1000;
    align-items: center;
}

.hamburger>svg {
    width: 1.5em;
    height: 1.5em;
    fill: var(--text);
}

.hm-open-button {
    display: block;
    /* デフォルトで表示 */
}

.hm-close-button {
    display: none;
    /* デフォルトで非表示 */
}

.menu {
    display: none;
    /* デフォルトでは非表示 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--menu-bg);
    z-index: 999;
    opacity: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 0 1em;
    padding-top: 8rem;
}

.menu>nav>ul {
    list-style: none;
}

.menu>nav>ul>li>a {
    color: var(--text);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    display: block;
    padding: 1em 0;
}

.menu>div {
    padding-top: 2rem;
    width: calc(100% - 2em);
}

.menu>div>a {
    color: var(--text);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    padding: 1em 2em;
    background: var(--theme);
    border-radius: 1em;
    display: block;
    text-align: center;
}

@media (max-width: 600px) {
    .hamburger {
        display: flex;
    }

    header>div>nav {
        display: none;
    }
}

#kiriban {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #00000062;
    z-index: 2000;
    justify-content: center;
    align-items: center;
}

#kiriban-contents {
    background: #FFF;
    padding: 2em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: #000;
}

#kiriban-flex-left {
    text-align: center;
}

#kiriban-flex-left>h2 {
    font-size: 1.25em;
}

#kiriban-btn {
    padding: 1em 2em;
    background: #000;
    color: #FFF;
    border: none;
    border-radius: 0.5em;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    text-decoration: none;
    gap: 0.5em;
}

#kiriban-btn>img {
    width: 1.5em;
    height: 1.5em;
    filter: invert(1);
}

.swiper-pagination-bullet-active {
    background: var(--dot-active) !important;
}

/* トグルボタン */

.toggle-container {
    display: flex;
    gap: 0.5em;
    background: var(--fsnsl-bg-color);
    padding: 0.25rem;
    border-radius: 0.5em;
    width: fit-content;
}

.toggle-container>div {
    border-radius: 1em;
    display: flex;
    align-items: center;
    padding: 0.25em;
}

.toggle-container>div:hover {
    background: var(--fsnsb-bg-color);
}

.light-theme .toggle-container>div>img {
    filter: invert(1);
}

@media (prefers-color-scheme: light) {
    .system-theme .toggle-container>div>img {
        filter: invert(1);
    }
}
