body {
    background: linear-gradient(#2A9FE0, #0262D2) no-repeat;
    background: -webkit-linear-gradient(#2A9FE0, #0262D2) no-repeat;
    background: -moz-linear-gradient(#2A9FE0, #0262D2) no-repeat;
}