body {
    background: linear-gradient(#2A9FE0, #0262D2) no-repeat;
    background: -webkit-linear-gradient(#2A9FE0, #0262D2) no-repeat;
    background: -moz-linear-gradient(#2A9FE0, #0262D2) no-repeat;
}

.dark-theme body {
    background: linear-gradient(#145980, #001023) no-repeat;
    background: -webkit-linear-gradient(#145980, #001023) no-repeat;
    background: -moz-linear-gradient(#145980, #001023) no-repeat;
}

@media (prefers-color-scheme: dark) {
    .system-theme body {
        background: linear-gradient(#145980, #001023) no-repeat;
        background: -webkit-linear-gradient(#145980, #001023) no-repeat;
        background: -moz-linear-gradient(#145980, #001023) no-repeat;
    }
}